<html>
  <head>
<title>Assignment3-psuresh1</title>
 </head>
 <body>
    <div class="row">
    <center>
        <h1>{{ Distro }} Instance Created by {{ owner }} for {{ project }}, Running on {{ ansible_hostname }}</h1>
    </center>
    <img src="image01.jpg" style="width:100%">
    </div>
</body>
<html>
